@page "/character-sheet-full"

<PageTitle>@(Character.Name)'s Character Sheet - The Black Tower</PageTitle>

<div class="page-body">
	<div class="sheet-meta row">
		<div class="spacer"></div>
		<button class="edit">edit</button>
	</div>
	<div class="sheet-body">
		<div class="column even">
			<div class="column">
				<div class="character-info column box">
					<div class="row">
						<div class="image-placeholder">
							image
						</div>
						<div class="column left tight">
							<div class="name">@Character.Name</div>
							<div class="row">
								<div class="pronouns">@(Character.Pronouns.Subject)/@(Character.Pronouns.Object)</div>
								<div class="species">@Character.Species</div>
							</div>
							<div class="player-name">Played by @Character.PlayerName</div>
							<div class="run-stats row">
								<span>Played: @Character.RunsPlayed</span>
								<span>Won: @Character.RunsWon</span>
							</div>
						</div>
					</div>

					<div class="divider"></div>

					<div class="bio">
						@Character.Biography
					</div>
				</div>
				
			</div>

			<div class="column class box">
				<div class="name">@Character.SpecialtyClass.Name</div>
				<div class="divider"></div>
				<div class="class-description">@Character.SpecialtyClass.Description</div>

				<div class="divider"></div>

				<div class="stats">
					<div class="stat row green">
						<span>&nbsp;@_hpString:</span>
						<span class="@ClassHP">@Character.SpecialtyClass.BaseHP.ToString("+#;-#;±0")</span>
					</div>
					<div class="stat row cyan">
						<span>&nbsp;@_mpString:</span>
						<span class="@ClassMP">@Character.SpecialtyClass.BaseMP.ToString("+#;-#;±0")</span>
					</div>
					<div class="stat row orange">
						<span>@_strengthString:</span>
						<span class="@ClassStr">@Character.SpecialtyClass.BaseStrength.ToString("+#;-#;±0")</span>
					</div>
					<div class="stat row blue">
						<span>@_magicString:</span>
						<span class="@ClassMag">@Character.SpecialtyClass.BaseMagic.ToString("+#;-#;±0")</span>
					</div>
					<div class="stat row red">
						<span>@_defenseString:</span>
						<span class="@ClassDef">@Character.SpecialtyClass.BaseDefense.ToString("+#;-#;±0")</span>
					</div>
					<div class="stat row purple">
						<span>@_resistanceString:</span>
						<span class="@ClassRes">@Character.SpecialtyClass.BaseResistance.ToString("+#;-#;±0")</span>
					</div>
				</div>
			</div>
		</div>

		<div class="skill-list bordered box column">
			<div class="name">@Character.SpecialtyClass.Name Skills</div>
			<div class="divider"></div>
			
			<TableTemplate Items="Character.SpecialtyClass.Skills" Context="skill">
				<TableHeader>
					<th class="table-name center-text">Name</th>
					<th class="table-potency">PWR</th>
					<th class="table-mp">MP</th>
				</TableHeader>
				<RowTemplate>
					<td class="table-name">@skill.Name</td>
					<td class="table-potency">0</td>
					<td class="table-mp">@skill.MPCost</td>
				</RowTemplate>
			</TableTemplate>
		</div>

	</div>
</div>