@page "/character-sheet-full"

<PageTitle>@(Character.Name)'s Character Sheet - The Black Tower</PageTitle>

<div class="page-body">
	<div class="sheet-meta row">
		<div class="spacer"></div>
		<button class="edit">edit</button>
	</div>
	<div class="sheet-body column">
		<div class="bordered row even">
			<div class="bordered column">
				<div class="character-info row box">
					<div class="image-placeholder">
						image
					</div>
					<div class="column left tight">
						<div class="name">@Character.Name</div>
						<div class="row">
							<div class="pronouns">@(Character.Pronouns.Subject)/@(Character.Pronouns.Object)</div>
							<div class="species">@Character.Species</div>
						</div>
						<div class="player-name">Played by @Character.PlayerName</div>
						<div class="run-stats row">
							<span>Played: @Character.RunsPlayed</span>
							<span>Won: @Character.RunsWon</span>
						</div>
					</div>
				</div>

				<div class="character-info box column">
					<div class="stats">
						<div class="stat row green">
							<span>&nbsp;@HPString:</span>
							<span>@(GetStatEquationString(Character.BaseHP, Character.SpecialtyClass.BaseHP, Character.MaxHP))</span>
						</div>
						<div class="stat row cyan">
							<span>&nbsp;@MPString:</span>
							<span>@(GetStatEquationString(Character.BaseMP, Character.SpecialtyClass.BaseMP, Character.MaxMP))</span>
						</div>
						<div class="stat row orange">
							<span>@StrengthString:</span>
							<span>@(GetStatEquationString(Character.BaseStrength, Character.SpecialtyClass.BaseStrength, Character.Strength))</span>
						</div>
						<div class="stat row blue">
							<span>@MagicString:</span>
							<span>@(GetStatEquationString(Character.BaseMagic, Character.SpecialtyClass.BaseMagic, Character.Magic))</span>
						</div>
						<div class="stat row red">
							<span>@DefenseString:</span>
							<span>@(GetStatEquationString(Character.BaseDefense, Character.SpecialtyClass.BaseDefense, Character.Defense))</span>
						</div>
						<div class="stat row purple">
							<span>@ResistanceString:</span>
							<span>@(GetStatEquationString(Character.BaseResistance, Character.SpecialtyClass.BaseResistance, Character.Resistance))</span>
						</div>
					</div>
				</div>
			</div>

			<div class="column class box">
				<div class="name">@Character.SpecialtyClass.Name</div>
				<div class="divider"></div>
				<div class="class-description">@Character.SpecialtyClass.Description</div>

				<div class="divider"></div>

				<div class="stats">
					<div class="stat row green">
						<span>&nbsp;@HPString:</span>
						<span class="@ClassHP">@Character.SpecialtyClass.BaseHP.ToString("+#;-#;±0")</span>
					</div>
					<div class="stat row cyan">
						<span>&nbsp;@MPString:</span>
						<span class="@ClassMP">@Character.SpecialtyClass.BaseMP.ToString("+#;-#;±0")</span>
					</div>
					<div class="stat row orange">
						<span>@StrengthString:</span>
						<span class="@ClassSTR">@Character.SpecialtyClass.BaseStrength.ToString("+#;-#;±0")</span>
					</div>
					<div class="stat row blue">
						<span>@MagicString:</span>
						<span class="@ClassMAG">@Character.SpecialtyClass.BaseMagic.ToString("+#;-#;±0")</span>
					</div>
					<div class="stat row red">
						<span>@DefenseString:</span>
						<span class="@ClassDEF">@Character.SpecialtyClass.BaseDefense.ToString("+#;-#;±0")</span>
					</div>
					<div class="stat row purple">
						<span>@ResistanceString:</span>
						<span class="@ClassRES">@Character.SpecialtyClass.BaseResistance.ToString("+#;-#;±0")</span>
					</div>
				</div>
			</div>
		</div>

		<div class="box">
			<div class="bio">
				@Character.Biography
			</div>
		</div>

	</div>
</div>