@page "/character-sheet-run"

<div class="sheet-body">
	<div class="bio box center">
		<div class="row">
			<div class="image-placeholder">
				<img class="image" src="@Character.ImagePath" alt="@Character.Name" />
			</div>
			<div class="column left">
				<div class="row">
					<span class="name">@Character.Name</span>
					<span class="pronouns">@(Character.Pronouns.Subject)/@(Character.Pronouns.Object)</span>
				</div>
				<div class="row">
					<span>@Character.PlayerName</span>
					<span>@Character.SpecialtyClass.Name</span>
				</div>
				<div class="row">
					<span></span>
					<span>@SessionCharacter.EquippedClass?.Name</span>
				</div>
				<div class="resources">
					<div class="hp">
						<span class="preserve-whitespace">@HPString: <input class="resource-input" type="number" value="@SessionCharacter.CurrentHP" min="0" max="@SessionCharacter.MaxHP" @onchange="UpdateHP" /> /  @SessionCharacter.MaxHP</span>
						<div class="bar"><div class="hp-bar" style="width: @(100 * SessionCharacter.CurrentHP / SessionCharacter.MaxHP)%"></div></div>
					</div>
					<div class="mp">
						<span class="preserve-whitespace">@MPString: <input class="resource-input" type="number" value="@SessionCharacter.CurrentMP" min="0" max="@SessionCharacter.MaxMP" @onchange="UpdateMP" /> /  @SessionCharacter.MaxMP</span>
						<div class="bar"><div class="mp-bar" style="width: @(100 * SessionCharacter.CurrentMP / SessionCharacter.MaxMP)%"></div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="stats center">
				<div class="stat row">
					<span class="orange">@StrengthString:</span>
					<span>@SessionCharacter.Strength</span>
				</div>
				<div class="stat row">
					<span class="blue">@MagicString:</span>
					<span>@SessionCharacter.Magic</span>
				</div>
				<div class="stat row">
					<span class="red">@DefenseString:</span>
					<span>@SessionCharacter.Defense</span>
				</div>
				<div class="stat row">
					<span class="purple">@ResistanceString:</span>
					<span>@SessionCharacter.Resistance</span>
				</div>
			</div>
		</div>
	</div>

	<div class="class box">
		<div class="name center-text">@Character.SpecialtyClass.Name</div>

		<div class="hori-divider"></div>

		<span>@Character.SpecialtyClass.Description</span>

		<div class="hori-divider"></div>

		<div class="stats center">
			<div class="stat row green">
				<span>@HPString:</span>
				<span class="@ClassHP">@Character.SpecialtyClass.BaseHP.ToString("+#;-#;±0")</span>
			</div>
			<div class="stat row cyan">
				<span>@MPString:</span>
				<span class="@ClassMP">@Character.SpecialtyClass.BaseMP.ToString("+#;-#;±0")</span>
			</div>
			<div class="stat row orange">
				<span>@StrengthString:</span>
				<span class="@ClassStr">@Character.SpecialtyClass.BaseStrength.ToString("+#;-#;±0")</span>
			</div>
			<div class="stat row blue">
				<span>@MagicString:</span>
				<span class="@ClassMag">@Character.SpecialtyClass.BaseMagic.ToString("+#;-#;±0")</span>
			</div>
			<div class="stat row red">
				<span>@DefenseString:</span>
				<span class="@ClassDef">@Character.SpecialtyClass.BaseDefense.ToString("+#;-#;±0")</span>
			</div>
			<div class="stat row purple">
				<span>@ResistanceString:</span>
				<span class="@ClassRes">@Character.SpecialtyClass.BaseResistance.ToString("+#;-#;±0")</span>
			</div>
		</div>
	</div>

	<div class="skill-list box column center">
		<span class="name">@Character.SpecialtyClass.Name Skills</span>

		<div class="hori-divider"></div>

		<TableTemplate Items="Character.SpecialtyClass.Skills" Context="skill">
			<TableHeader>
				<span class="center-text">Name</span>
				<span class="right-text">PWR</span>
				<span class="right-text">MP</span>
			</TableHeader>
			<RowTemplate>
				<input type="checkbox" class="hidden-check" id="@(Character.Name)_@(skill.Name)" />
				<label class="left-text dropdown" for="@(Character.Name)_@skill.Name">@skill.Name</label>
				<label class="right-text dropdown" for="@(Character.Name)_@skill.Name">0</label>
				<label class="right-text dropdown" for="@(Character.Name)_@skill.Name">@skill.MPCost</label>
				<span class="dropdown-contents">@skill.Description</span>
			</RowTemplate>
		</TableTemplate>
	</div>
</div>
