@page "/character-sheet-static"

<div class="sheet-body">
	<div class="bio box center">
		<div class="row">
			<div class="image-placeholder">
				<img class="image" src="@Character.ImagePath" alt="@Character.Name"/>
			</div>
			<div class="column left">
				<div class="row">
					<span class="name">@Character.Name</span>
					<span class="pronouns">@(Character.Pronouns.Subject)/@(Character.Pronouns.Object)</span>
				</div>
				<div class="row">
					<span>Played by @Character.PlayerName</span>
					<span>@Character.Species</span>
				</div>
				<div class="row">
					<span>Played: @Character.RunsPlayed</span>
					<span>Won: @Character.RunsWon</span>
				</div>
			</div>
		</div>

		<div class="hori-divider"></div>

		<span>@Character.Biography</span>
	</div>

	<div class="class box">
		<div class="name center-text">@Character.SpecialtyClass.Name</div>

		<div class="hori-divider"></div>

		<span>@Character.SpecialtyClass.Description</span>

		<div class="hori-divider"></div>

		<div class="stats center">
			<div class="stat row green">
				<span>@_hpString:</span>
				<span class="@ClassHP">@Character.SpecialtyClass.BaseHP.ToString("+#;-#;±0")</span>
			</div>
			<div class="stat row cyan">
				<span>@_mpString:</span>
				<span class="@ClassMP">@Character.SpecialtyClass.BaseMP.ToString("+#;-#;±0")</span>
			</div>
			<div class="stat row orange">
				<span>@_strengthString:</span>
				<span class="@ClassStr">@Character.SpecialtyClass.BaseStrength.ToString("+#;-#;±0")</span>
			</div>
			<div class="stat row blue">
				<span>@_magicString:</span>
				<span class="@ClassMag">@Character.SpecialtyClass.BaseMagic.ToString("+#;-#;±0")</span>
			</div>
			<div class="stat row red">
				<span>@_defenseString:</span>
				<span class="@ClassDef">@Character.SpecialtyClass.BaseDefense.ToString("+#;-#;±0")</span>
			</div>
			<div class="stat row purple">
				<span>@_resistanceString:</span>
				<span class="@ClassRes">@Character.SpecialtyClass.BaseResistance.ToString("+#;-#;±0")</span>
			</div>
		</div>
	</div>

	<div class="skill-list box column center">
		<span class="name">@Character.SpecialtyClass.Name Skills</span>

		<div class="hori-divider"></div>
		
		<TableTemplate Items="Character.SpecialtyClass.Skills" Context="skill">
			<TableHeader>
				<span class="center-text">Name</span>
				<span class="right-text">PWR</span>
				<span class="right-text">MP</span>
			</TableHeader>
			<RowTemplate>
				<input type="checkbox" class="hidden-check" id="@(Character.Name)_@(skill.Name)" />
				<label class="left-text dropdown" for="@(Character.Name)_@skill.Name">@skill.Name</label>
				<label class="right-text dropdown" for="@(Character.Name)_@skill.Name">0</label>
				<label class="right-text dropdown" for="@(Character.Name)_@skill.Name">@skill.MPCost</label>
				<span class="dropdown-contents">@skill.Description</span>
			</RowTemplate>
		</TableTemplate>
	</div>
</div>
